footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;

  font-weight: bold;
  p {
    color: var(--primary-color);
    text-shadow: -0.06em 0 0.08em var(--secondary-color),
      0.06em 0 0.08em var(--secondary-color),
      0 0.06em 0.08em var(--secondary-color),
      0 -0.06em 0.08em var(--secondary-color),
      -0.06em 0.06em 0.08em var(--secondary-color),
      0.06em 0.06em 0.08em var(--secondary-color),
      -0.06em -0.06em 0.08em var(--secondary-color),
      0.06em -0.06em 0.08em var(--secondary-color);
    text-align: center;
    font-size: 1.3em;
  }
  a {
    text-decoration: none;
    color: var(--secondary-color);
    text-shadow: -0.06em 0 0.08em black, 0.06em 0 0.08em black,
      0 0.06em 0.08em black, 0 -0.06em 0.08em black, -0.06em 0.06em 0.08em black,
      0.06em 0.06em 0.08em black, -0.06em -0.06em 0.08em black,
      0.06em -0.06em 0.08em black;
    transition: color 0.2s;

    &:hover {
      color: var(--third-color);
    }
  }
}
